@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import "tailwindcss";


/* Hide scrollbars globally but keep scrolling enabled */
/* Chrome, Safari, Opera */
::-webkit-scrollbar {
  display: none;
}
/* Firefox */
html {
  scrollbar-width: none;
}

body{
  background-color: black;
}
/* IE and Edge */
html {
  -ms-overflow-style: none;
}


@theme{
  --font-jura: Jura, "sans-serif";
}